{% extends 'flatpages/default.html' %}

{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h1>Все посты</h1>
    <hr>
    {% if is_not_author %}
        <button> <a href="/posts/upgrade"> Стать автором</a> </button>
    {% endif %}
    <div class="col">
       <div class="post">
           <a href="/posts" title="разделы новостей">Категории:</a> |
           {% for c in get_category %}
                <a href="?category={{c.id}}"
                {% if request.GET.category == c.id|title %}
                    class="bold"
                {% endif %}
                >{{ c.category_name }}</a> |
           {% endfor %}
       </div>
    </div>
    {% if request.user.username and request.GET.category %}
               <br><a href="/posts/subscribes/{{request.GET.category}}"><b>Подписаться на новости раздела</b></a>
    {% endif%}
    {% if posts %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Дата</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{post.header}}</td>
                <td>{{post.text|truncatechars:20}}</td>
                <td>{{post.date_time}}</td>
            </tr>
            {% endfor %}

        </table>

    {% else %}
        <h2>Постов нет!</h2>
    {% endif %}

    <!-- Настраиваем пагинацию -->
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{page_obj.next_page_number}}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{page_obj.paginator.num_pages}}</a>
        {% endif %}
    {% endif %}

<button><a href="/account/logout/">Выйти</a></button>



{% endblock content %}