{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Post

{% endblock title %}

{% block content %}

        <table>
            <tr>
                <td>Заголовок</td>
                <td>Текст</td>
                <td>Дата</td>
            </tr>

            <tr>
                <td>{{post.header}}</td>
                <td>{{post.text|censor}}</td>
                <td>{{post.date_time|date:'d M Y'}}</td>

            </tr>


        </table>
<button><a href="/posts">Вернуться на главную страницу</a></button>


{% endblock content %}
