<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Новости за неделю в категории {{category}}</h1>
        <table>
            {% for post in posts %}
            <tr>
                <td>
                    <b>{{post.date_time}}</b> <a href="http://127.0.0.1/posts/{{post.id}}">{{post.header}}</a>
                </td>
            </tr>

</table>
</body>
</html>